#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export GEM2DEB_TEST_RUNNER = --check-dependencies
export DH_RUBY = --gem-install

%:
	dh $@ --buildsystem=ruby --with ruby

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/ruby-bson/usr/lib/*/rubygems-integration/*/gems/bson-*/ext
